<!doctype html>
<!--Handling events in Angular JS-->

<html ng-app = "myModule8">
    <head>
        <script src="Scripts/angular.min.js"></script>
        <script src="Scripts/Script8.js"></script>
    </head>
<body ng-controller="myController">
    <table>
    <thead>
        <tr>
       <th>Name</th>
        <th>Likes</th>
        <th>Dislikes</th>
        <th>Like/Dislike</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat = "technology in technologies">
            <td>{{technology.name }}</td>
            <td>{{technology.likes }}</td>
            <td>{{technology.dislikes }}</td>
            <td>
            <input type="button"  value="Like"  ng-click="incrementLikes(technology)">
            <input type="button"  value="DisLike"  ng-click="incrementDislikes(technology)">
            </td>

        </tr>
        
        </tbody>
    
    </table>
    
</body>
    
</html>